body {
    font-family: 'Roboto',"Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

*:focus {
    outline: 2px dotted #FF7500;
    outline-offset: 3px;
}

/* SITE-HEADER */

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-top: 5px solid #FF7500;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo-link {
    transition: opacity 0.4s ease;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.6;
}

.site-header-right-actions {
    display: flex;
    align-items: center;
}

.sitenav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 32px;
}

.sitenav-item {
    margin-right: 32px;
}

.sitenav-item:last-child {
    margin-right: 0;
}

.sitenav-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.sitenav-link:hover {
    color: #FF7500;
}

.sitenav-link:active {
    opacity: 0.6;
}

.main-link {
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background-color: #FF7500;
    text-decoration: none;
    transition: opacity 0.4s ease;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 4px;
}

.main-link:hover {
    opacity: 0.8;
}

.main-link:active {
    opacity: 0.6;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252420;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-content {
    width: 390px;
}

.orange-line {
    width: 80px;
    height: 1px;
    background-color: #FF7500;
    border: 0;
    margin: 0;
    margin-bottom: 40px;
}

.hero-heading {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 24px;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 32px;
}


.hero-img {
    width: 510px;
    height: 510px;
    border-radius: 8px;
}

.features {
    padding-top: 210px;
    padding-bottom: 210px;
}

.features-list {
    display: flex;
    /* justify-content: space-between; */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.features-heading {
    font-family: 'Roboto Condensed';
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.5;
    margin-top: 0;
    margin-bottom: 72px;
}

.feature {
    width: 340px;
    margin-right: 40px;
}

.feature:last-child {
    margin-right: 0;
}

.features-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
    border-radius: 50%;
}

.features-title {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #000000;
}


.promo {
    display: flex;
    justify-content: space-between;
    background-color: #252420;
    color: #fff;
    border-radius: 12px;
    /* padding-top: 120px;
    padding-bottom: 160px; */
}

.promo-content {
    width: 440px;
}

.promo-heading {
    font-family: 'Roboto Condensed';
    font-style: 40px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 24px;
}

.promo-info-wrapper {
    margin-bottom: 24px;
}

.promo-text {
    margin-top: 0;
    margin-bottom: 12px;
}

.promo-text:last-child {
    margin-bottom: 0;
}


.promo-highlight {
    color: #FF7500;
}

.promo-img {
    width: 440px;
    height: 440px;
    border-radius: 12px;
    object-fit: cover;
}

.site-footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: rgba(248, 248, 248, 1);
}

.site-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-footer ul {
    list-style: none;
}

.site-footer-socials {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.site-footer-socials li {
    margin-right: 16px;
}

.site-footer-socials li:last-child {
    margin-right: 0;
}

.site-footer-socials a {
    display: block;
    color: #222;
}

.site-footer-socials svg {
    display: block;
}

.site-footer-socials a:hover {
    color: #FF7500;
}

.site-footer-divider {
    margin-top: 40px;
    margin-bottom: 64px;
    border: 0;
    background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom {
    display: flex;
}

.site-footer-links {
    width: 224px;
    padding: 0;
    margin: 0;
    margin-right: 68px;
    list-style: none;
    line-height: 19px;
}

.site-footer-links:last-child {
    margin-right: 0;
}

.site-footer-links a {
    font-size: 16px;
    line-height: 19px;
    color: #252420;
    text-decoration: none;
}

.site-footer-links a:hover {
    color: #FF7500;
}

.site-footer-links a:active {
    opacity: 0.6;
}