body {
    font-family: 'Roboto',"Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

*:focus {
    outline: 2px dotted #FF7500;
    outline-offset: 3px;
}

/* SITE-HEADER */

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.logo-link {
    transition: opacity 0.4s ease;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.6;
}

.site-header-right-actions {
    display: flex;
    align-items: center;
}

.sitenav-list {
    display: flex;
    list-style: none;
}

.sitenav-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.sitenav-link:hover {
    color: #FF7500;
}

.sitenav-link:active {
    opacity: 0.6;
}

.main-link {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background-color: #FF7500;
    text-decoration: none;
    transition: opacity 0.4s ease;
}

.main-link:hover {
    opacity: 0.8;
}

.main-link:active {
    opacity: 0.6;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252420;
    color: #fff;
}

.hero-content {
    width: 390px;
}

.orange-line {
    width: 80px;
    height: 1px;
    background-color: #FF7500;
}

.hero-heading {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}


.hero-img {
    width: 510px;
    height: 510px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.features-heading {
    font-family: 'Roboto Condensed';
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.5;
}

.feature {
    width: 340px;
}

.features-icon-wrapper {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}

.features-title {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #000000;
}


.promo {
    display: flex;
    justify-content: space-between;
    background-color: #252420;
    color: #fff;
}

.promo-content {
    width: 440px;
}

.promo-heading {
    font-family: 'Roboto Condensed';
    font-style: 40px;
    line-height: 48px;
}


.promo-highlight {
    color: #FF7500;
}

.promo-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
}

.site-footer {
    background-color: rgba(248, 248, 248, 1);
}

.site-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-footer ul {
    list-style: none;
}

.site-footer-socials {
    display: flex;
    align-items: center;
}

.site-footer-socials a {
    color: #222;
}

.site-footer-socials a:hover {
    color: #FF7500;
}

.site-footer-divider {
    background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom {
    display: flex;
}

.site-footer-links {
    width: 224px;
}

.site-footer-links a {
    font-size: 16px;
    line-height: 19px;
    color: #252420;
    text-decoration: none;
}

.site-footer-links a:hover {
    color: #FF7500;
}

.site-footer-links a:active {
    opacity: 0.6;
}